# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/

# macOS
.DS_Store

# VS Code
.vscode/

# Jupyter / notebooks checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Tableau local/cache files
*.twbr
*.hyper.tmp